body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr 1fr;
  height: 100%;
}

.sidebar {
  display: grid;
  grid-row: 1 / -1;
  width: 100%;
  grid-template-rows: repeat(10, 1fr);
  background-color: antiquewhite;
}

.logoSidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
  font-size: 50px;
  font-weight: bold;
}

.upperSidebar {
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
}

.lowerSidebar {
  grid-row: 5 / 11;
  display: flex;
  flex-direction: column;
}

.sidebarList {
  font-size: 25px;
  font-weight: bold;
}

.sidebarListElement {
  padding-top: 25px;
}

.upperContainer {
  grid-column: 2;
  display: grid;
  background-color: beige;
  grid-template-rows: 1fr 1fr;
}

.searchBar {
  border-radius: 6px;
  width: 60em;
  height: 30px;
}

.searchBarRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchBarRowLeft {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.searchBarRowRight {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 50px;
}

.profileRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileRowLeft {
  display: flex;
  gap: 15px;
}

.blueBtn {
  background-color: aqua;
  margin-right: 50px;
  font-size: 25px;
  padding: 10px;
  border-radius: 15px;
}
