body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  height: 100%;
  max-height: 100vh;
}

.sidebar {
  display: grid;
  grid-row: 1 / -1;
  height: 100%;
  grid-template-rows: repeat(10, 1fr);
  background-color: antiquewhite;
}

.logoSidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
  font-size: 50px;
  font-weight: bold;
}

.upperSidebar {
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
}

.lowerSidebar {
  grid-row: 5 / 11;
  display: flex;
  flex-direction: column;
}

.sidebarList {
  font-size: 25px;
  font-weight: bold;
}

.sidebarListElement {
  padding-top: 25px;
}

.upperContainer {
  grid-column: 2 / 4;
  grid-row: 1 / 1;
  display: grid;
  background-color: beige;
  grid-template-rows: 1fr 1fr;
}

.searchBar {
  border-radius: 6px;
  width: 60em;
  height: 30px;
}

.searchBarRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchBarRowLeft {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.searchBarRowRight {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 50px;
}

.profileRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileRowLeft {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
}

.blueBtn {
  background-color: aqua;
  margin-right: 50px;
  font-size: 25px;
  padding: 10px;
  border-radius: 15px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  grid-row: 2 / 4;
  background-color: aqua;
}

#projectsHeaders {
  padding-left: 75px;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row: 2 / 10;
  height: 100%;
  background-color: lightgray;
  gap: 25px;
  padding-left: 75px;
  padding-bottom: 75px;
  padding-right: 75px;
}

.projectsCard {
  border: 1px black solid;
}

.projectsSideContainer {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 100%;
}

.announcementsWindow {
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid aquamarine;
  border-radius: 6%;
  background-color: aquamarine;
}

.announcement {
  border-bottom: 1px black solid;
}

.trendingWindow {
  background-color: aqua;
}

.profileTrending {
  display: flex;
  align-items: center;
}
